@import '../../App.scss';

.btn {
    border: none;
    padding: 12px 32px;
    border-radius: 10px;
    height: 5vh;
    color: black;
    background-color: #ffc72f;
    // font-size: 10px;

    &:hover {
        cursor: pointer;
    }

}