@import '../../App.scss';

.category {
    display: flex;
    justify-content: flex-start;
    
    &__list:hover {
        transform: translate(-5px, -5px);
    }

    &__form:hover {
        transform: translate(-5px, -5px);
    }
    
    
    &__list {
        transition: transform 0.3s ease-in-out;
        margin-left: 50px;
        background-color: #000000;
        border-radius: $border-radius;
        padding: 40px 40px 40px 40px;
        color: rgba(255, 255, 255, 0.818);
        box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.051);
        width:auto;

        &__label {
            margin-bottom: 30px;
            font-weight: bold;
            font-size: 20px;
        }

        &__dialog {
            background-color: #212121;
            padding: 15px;
            border-radius: 20px;
            margin-top: 20px;

            i {
                font-size: 18px;
            }

            &__item {
                margin-bottom: 10px;
            }

            li {
                display: inline-block;
                margin: 0px 40px 0px 40px;
            }
        }

    }
        
    &__form {
        transition: transform 0.3s ease-in-out;
        background-color: #ffffff;
        padding: 40px 50px 50px 50px;
        border-radius: $border-radius;
        box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.051);
        height: min-content;

        &__label {
            margin-bottom: 30px;
            font-weight: bold;
        }

        &__btn {
            margin-top: 30px;
        }
    }

}