@import '../../App.scss';

$border-radius-input: 7px;

.input {
    position: relative;

    &__value {
        border: none;
        background-color: #f3f5f6;
        border-radius: 10px;
        padding: 17px;
        width: 300px;
        font-size: 13px;
        font-weight: thin;
        
        &:hover {
            outline: solid rgb(0, 0, 0);
        }
    
        &:focus {
            outline: solid rgb(0, 0, 0);
        }
    }


    &__label {
        $padding: 7px;
        font-size: 16px;
        margin-bottom: 8px;
        color: black;
    }

}

.formulaire {
    transition: transform 0.3s ease-in-out;
    background-color: #ffffff;
    padding: 40px 50px 50px 50px;
    border-radius: $border-radius;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.051);
    height: min-content;

    &:hover {
        transform: translate(-5px, -5px);
    }

    &__title {
        margin-bottom: 30px;
        font-weight: bold;
    }

    &__btn {
        margin-top: 30px;
    }
}

.list {
    transition: transform 0.3s ease-in-out;
    border-radius: $border-radius;
    padding: 40px 40px 40px 40px;
    // color: rgba(255, 255, 255, 0.818);
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.051);
    width:auto;

    &:hover {
        transform: translate(-5px, -5px);
    }

    &__label {
        margin-bottom: 30px;
        font-weight: bold;
        font-size: 20px;
    }

}

.select {
    
}

.error {
    color: red;
}