@import '../../App.scss';

$border-radius-input: 7px;

.input {
    position: relative;

    &__value {
        border: none;
        background-color: #f3f5f6;
        border-radius: 10px;
        padding: 17px;
        width: 300px;
        font-size: 13px;
        font-weight: thin;
        
        &:hover {
            outline: solid rgb(0, 0, 0);
        }
    
        &:focus {
            outline: solid rgb(0, 0, 0);
        }
    }


    &__label {
        $padding: 7px;
        font-size: 16px;
        margin-bottom: 8px;
        color: black;
    }

}